@charset "utf-8";

.main {
    display: block;
    max-width: 1564px;
    margin: auto;
    padding: 8px 16px 4px 16px;
}

.title {
    font-family: "Segoe UI","Arial","sans-serif";
    font-size: 24px;
    padding: 30px 16px;
    margin-left: 15px;
}

.title > h3 {
    padding: 16px 0px;
    margin: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.project_img {
    padding: 0 8px;
    display: block;
}

.projects {
    margin-left: 15px;
}

.total {
    float: left;
    margin-bottom: 16px;
    width: 23.6%;
    padding: 0 8px;
}

.total .text {
    font-size: 15px;
    position: absolute;
    padding: 8px 15px;
    background-color: #000000;
    color: #f1f1f1
}

.total .img img{
    width: 100%;
}
