@charset "utf-8";

.hamburger{
    display: block;
    max-width: 1600px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hamburger img {
    width: 100%;
    height: 100%;
}

.hamburger_text {
    font-family: "Playfair Display";
    display: block;
    font-size: 36px! important;
    font-weight: 400;
    letter-spacing: 5px;
    position: absolute;
    padding: 12px 24px;
    opacity: 0.6;
    left: 0;
    bottom: 0;
}

.hamburger_text h1 {
    margin: 10px 0;
}