
/* footer
--------------*/
footer {
    background-color: #616161;
    padding: 32px 16px;
}

footer h3 {
    font-size: 24px;
}

footer p {
    margin: 15px 0;
}

.footer_container {
    padding: 0 8px;
}

.footer_text,
.footer_blog-posts,
.footer_popular-tages {
    float: left;
    width: 31.4%;
    color: white;
    padding: 0 8px;
}

.footer_text p a:visited {
    color: white;
}

.footer_blog-posts li {
    padding: 18px 16px;
}

.footer_blog-posts .diffsize{
    font-size: 18px;
}

.footer_blog-posts li:hover {
    background-color: #CCCCCC;
}

.footer_blog-posts li:first-child {
    border-bottom: 1px solid #eee;
}

.footer_blog-posts img {
    width: 50px;
    display:block;
    float: left;
    margin-right: 16px;
}


.footer_popular-tages span {
    padding: 0 8px;
    margin-bottom: 16px;
    background-color: #9E9E9E;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: black;
}

.footer_popular-tages span:first-child {
    background-color: black;
    line-height: 22.5px;
    font-size: 15px;
    color: white;
}


/* end
---------------------------------*/

.end {
    padding: 24px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.end a:visited {
    color: white;
}

.end a:hover {
    color: #ccc;
}