* {
    box-sizing: border-box;
}

ul, li, a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
a {
    color: black;
}
.clear:after {
    float: none;
    content: '';
    clear: both;
    display: block;
}
a:visited{
    color: black;
}
.menu_box {
    background-color: #F5F3F2;
    height: 70px;
}

/** 로고*/
.logo_box {
    float: left;
    padding-top: 25px;
    width: 30%;
    text-align: end;
}
.logo_box img {
    width: 155px;
    height: 20px;
}
/** 메뉴*/
.menu {
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 90px;
    margin-right: 60px;
}

.menu > ul > li {
    display: inline-block;
    margin-right: 30px;
}

.menu > ul > li > a {
    padding: 28px 15px 0 15px;
    color: #666666;
}

.menu a:hover {
    color: #002C5F;
}
.menu > ul > li:nth-child(4)> a:after {
    content: "";
    display: inline-block;
    background-image: url('../img/ico_gnb_newwin2.png');
    width: 10px;
    height: 10px;
    margin-left: 6px;
    background-repeat: no-repeat;
}
/** 메뉴 이벤트 CSS */
.menu_sub{
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #F5F3F2;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: max-height 0.3s ease-in-out;
    z-index: 102;
}
.menu_sub li {
    height: 100%;
}
.menu_sub li:last-child{
    position: absolute;
    right: 450px;
}

.menu_sub > li > a {
    padding: 27px 30px;
    margin-right: -5px;
    color: #666666;
}

.menu_sub > li:nth-child(5) a:after,
.menu_sub > li:nth-child(6) a:after {
    content: "";
    display: inline-block;
    background-image: url('../img/ico_gnb_newwin2.png');
    width: 10px;
    height: 10px;
    margin-left:8px;
    background-repeat: no-repeat;
}

/**메뉴 오른쪽*/
.menu_right {
    float: left;
    padding-top: 28px;
}

.menu_right > ul > li {
    display: inline-block;
    margin-right: 15px;
}
.search {
    position: absolute;
    max-height: 0;
    top: 70px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 240px;
    background-color: #F5F3F2;
    z-index: 100;
    transition: max-height 0.3s ease-in-out
}
.search_content {
    width: 70%;
    margin-left: 750px;
}

.search input {
    width: 35%;
    padding-left: 20px;
    height: 50px;
    border: none;
    margin-top: 20px;
}
.search input::placeholder {
    font-weight: bold;
    font-size: 18px;
    opacity: 0.6;
}
.search_btn {
    border: none;
    margin-left: -5px;
    background-color: white;
    width: 50px;
    height: 48px;
    cursor: pointer;
}

.search_content div {
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px ;
}

.search_content ul {
    margin-top: 25px;
}

.search_content > ul > li{
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    opacity: 0.5;
}

.search_content > ul > li> a:hover {
    color: #05AAD2;
}

.search_content div,
.search_content ul {
    padding-left: 20px;
}

.search .search_close_btn {
    position: absolute;
    top: 10px;
    right: 470px;
    border: none;
    background-color: #F5F3F2;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: translate(0%, 0%) rotate(0)
    }
    50% {
        transform: translate(5%, -19%) rotate(180deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(0)
    }
}

.search .search_close_btn:hover {
    animation: rotate 0.5s ease-in-out;
}
#language {
    font-weight: bold;
}
#language > a:after {
    content: '∨';
    width: 10px;
    height: 10px;
}

#language > a:hover {
    color: #002C5F
}
#language a {
    color: #666666;
}

#language #langEvent {
    display: block;
    position: absolute;
    max-height: 0;
    top: 70px;
    overflow: hidden;
    height: 100px;
    background-color: #F5F3F2;
    z-index: 1111;
    transition: max-height 0.3s ease-in-out
}

#langEvent > li{
    display: block;
    text-align: center;
    font-size: 12px;
    width: 85px;
}
#langEvent a {
    padding: 20px;
}
#langEvent a:hover {
    color: black;
}
.menu_right img {
    width: 17px;
    height: 17px;
}

/** hashtag */
.hashtag {
    width: 100%;
    text-align: center;
    z-index: 1;
}
.hashtag > li{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}

.hashtag > li:after {
    font-size: 10px;
    font-weight: normal;
    content: '|';
}


.hashtag > li > a {
    display: inline-block;
    padding: 60px 20px 0 20px;
    cursor:default;
    transition: color 0.2s linear;
}
.hashtag > li > a:hover {
    color: #05AAD2;
}

.hashtag > li > a > span{
    cursor: pointer
}