@charset "utf-8";

.footer {
    padding: 44px 24px;
    margin-left: auto;
    margin-right: auto;
}

.footer_text,
.footer_blog-posts,
.footer_popular-tages {
    float:left;
    width: 32%;
    padding: 0 8px;
}

.footer p {
    margin: 15px 0;
}

.footer_blog-posts {
    width: 31%;

}
.footer_blog-posts li {
    padding: 16px 16px;
    height: 50px;
}

.footer_blog-posts li:hover {
    background-color: #cccccc;
}

.footer_blog-posts li:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.footer_blog-posts img {
    display: block;
    width: 50px;
    float: left;
    margin-right: 16px; 
}

.footer_blog-posts span {
    display: block;
    float: left;
}

.footer_popular-tages span {
    font-size: 11px;
    display: inline-block;
    background-color: #616161;
    color: white;
    padding: 0 8px;
    margin-bottom: 16px;
}

.footer_popular-tages span:first-child {
    background-color: black;
    padding: 3px 8px;
}