@import './detail.scss';
.main_img {
    background: url('../img/2022_Summer1_main_bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 646px;
    position: relative;
    top: 122px;
    .imgs {
        position: relative;
        width: 1130px;
        margin: auto;
        .card_imgs {
            position: fixed;
            width: 140px;
            height: 192px;
            margin-left:485px;
            top: 154px;
            left: 54.5%;
            z-index: 1001;
            .card_img{
                width: 140px;
                height: 96px;
            }
        }
        .img_collection {
            position: relative;
            width: 1130px;
            margin: auto;
            .img_find {
                width: 282px;
                height: 175px;
                position: absolute;
                top: 47px;
                left: 44px
            }
            
            .img_punch {
                opacity: 0;
                position: absolute;
                width: 468px;
                height: 315px;
                top: 217px;
                left: 221px;
                transition: opacity 0.4s linear;
            }
            .img_rollin {
                opacity: 0;
                position: absolute;
                width: 548px;
                height: 408px;
                top: 77px;
                left: 404px;
                transition: opacity 0.4s linear;
            }
            .img_pomelo {
                opacity: 0;
                position: absolute;
                width: 302px;
                height: 459px;
                left: 918px;
                top: 102px;
                transition: opacity 0.4s linear;
            }
        }
        .position {
            position: absolute; 
            top: 251px;
            left: 119px;
        }
        @include detail(#d73a7a);
    }
}

.announcement {
    position: relative;
    width: 100%;
    margin-top: 122px;
    height: 62px;
    .announcement_left {
        position: relative;
        float:left;
        background-color: black;
        height: 62px;
        width: 50%;
        text-align: end;
        a {
            color: white;
        }
        p {
            display: inline-block;
            margin-top: 12px;
            position: absolute;
            right:20px;
            a {
                display: block;
                height: 36px;
                width: 36px;
            }
            img {
                width: 36px;
                height: 36px;
            }
        }
        div {
            display: inline-block;
        }
        .left_content {
            width: 621px;
            .content_img {
                float: left;
                position: relative;
                top: 50%;
                transform: translate(-10%, 130%);
                width: 65px;
                height: 17px;
                img{
                    height: 100%;
                    margin-bottom: 10px;
                }
            }
            
            .content_text {
                float: left;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-60%, 100%);
                width: 520px;
                height: 24px;
                text-align: start;
                font-size: 14px;
                ul, li, a {
                    height: 100%;
                    width: 520px;
                }
                a {
                    display: block;
                }
            }
        }
    }
    
    .announcement_right {
        float:left;
        width: 50%;
        height: 62px;
        .right_content {
            display: block;
            height: 62px;
            width: 550px;
            a {
                text-align: end;
                display: block;
                font-size: 16px;
                width: 234px;
                height: 36px;
                color: black;
                text-decoration: none;
                font-weight: bold;
                line-height: 62px;
                margin-left: auto;
            }
            div {
                float:left;
                width: 134px;
                height: 17px;
                margin-right: 64px;
            }
            .up_img {
                height: 36px;
                width: 36px;
                background: url('../img/btn_prom_up.png');
                background-size: 36px 36px;
                display: block;
                float: left;
                margin-top: 12px;
            }
            .down_img {
                height: 36px;
                width: 36px;
                background: url('../img/btn_prom_down.png');
                background-size: 36px 36px;
                display: block;
                float: left;
                margin-top: 12px;
            }
        }
    }
}

.slide {
    width: 100%;
    height: 0px;
    transition: height 0.2s ease-in-out;
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 820px;
            height: 553px;
            opacity: 0.4;
            margin-top: 40px;
            @include detail(black);
            .detail {
                a {
                    margin-top: -50px;
                }
            }
        }
        
        .swiper-slide-active {
            opacity: 1;
        }
        
        .swiper-pagination {
            margin-bottom: 20px;
        }
        
        .swiper-button-prev {
            left: 25%;
            top: 40%;
            background: url('../img/arrow_left_on.png') no-repeat center center;
        }
        
        .swiper-button-next {
            right: 25%;
            top: 40%;
            background: url('../img/arrow_right_on.png') no-repeat center center;
        }
        
        .swiper-button-prev,
        .swiper-button-next {
            width: 51px;
            height: 51px;
            border: solid 2px black;
            border-radius: 50%;
            transition: all 0.3s linear;
            &:after {
                content: "";
            }
            &:hover {
                background-color: white;
            }
        }
    }
}
.reward {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 240px;
    padding: 30px 0 40px 0;
    background-color: #1E3932;
    color: white;
    a{
        color: white;
    }
    .reward_container {
        width: 1080px;
        height: 170px;
        margin: 0 auto;
        .reward_img {
            float: left;
            width: 16.3%;
            margin: 0 40px;
            img {
                width: 176px;
            }
        }
        .reward_contents{
            float: right;
            width: 76%;
            position: relative;
            b {
                font-weight: bold;
            }
            .reward_content {
                h2 {
                    font-size: 26px;
                    line-height: 1.4;
                    margin-bottom: 12px;
                }
                p > span {
                    font-size: 17px;
                    line-height: 1.4;
                }
            }

            .reward_btns {
                position: absolute;
                right: 0;
                bottom: 90px;
                a {
                    display: inline-block;
                    height: 38px;
                    padding: 0 15.5px;
                    line-height: 34px;
                    font-size: 14px;
                }
                .signup_btn {
                    background-color: #00704A;
                    border: 2px solid #00704a;
                    border-radius: 5px;
                    margin-right: 5px;
                }
                .login_btn {
                    border: 2px solid white;
                    border-radius: 5px;
                }
            }
            hr {
                margin: 16px 0;
                opacity: 0.1;
            }
            .reward_content2 {
                span {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
            .gift_btn {
                position: absolute;
                right: 0;
                bottom: 0px;
                height: 34px;
                width:183px;
                a {
                    display: block;
                    height: 34px;
                    width:183px;
                    border: 2px solid white;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }
}

.bean {
    z-index: 10;
    position: relative;
    background: url('../img/2022_Summer1_bean_bg2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 572px;
    &:before {
        z-index: 11;
        position: absolute;
        top: -17.5%;
        left: 0;
        bottom: 0;
        display: block;
        background-position: center top;
        background-repeat: no-repeat;
        content: '';
        height: 392px;
        width: 425px;
        background: url('../img/2022_Summer1_bean_bg_left.png') no-repeat;
    }
    &:after {
        position: absolute;
        right: 0;
        bottom: -15.5%;
        display: block;
        background-position: center top;
        background-repeat: no-repeat;
        content: '';
        height: 360px;
        width: 482px;
        background: url('../img/2022_Summer1_bean_bg_right.png') no-repeat;
    }
    .bean_container {
        position: relative;
        width:1124px;
        height: 100%;
        margin: 0 auto;
        .bean_img1 {
            position: absolute;
            left: -39.5997%;
            opacity: 0;
            top: 13.6%;
            max-width: 310px;
            width: 27.7%;
            transition: all 2s ease-in-out;
        }
        .bean_img2 {
            position: absolute;
            right: -39.4988%;
            opacity: 0;
            top: 31.9%;
            max-width: 321px;
            width: 28.7%;
            z-index: 10;
            transition: all 2s ease-in-out;
            @include detail(#1e245c);
            .detail {
                margin-top: 39px;
            }
        }
    }
}

.indonesia {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 400px;
    background: url('../img/reserve_2022_indonesia_visual_bg.jpg') no-repeat;
    background-size: cover;
    .indonesia_container {
        width: 100%;
        height: 100%;
        .indonesia_img {
            position: relative;
            width: 1080px;
            margin: 0 auto;
            height: 230px;
            padding-top:115px;
        }
        .inodesia_coffee {
            position: absolute;
            top:0;
            width: 100%;
            opacity: 0;
            transition: all 1s linear;
            img {
                display: block;
                margin: 0 auto;
            }
            &:before{
                content: '';
                position: absolute;
                bottom: -1%;
                background: url('../img/reserve_2022_indonesia_leaf1.png') no-repeat;
                z-index: 12;
                width: 373px;
                height: 277px;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -1%;
                background: url('../img/reserve_2022_indonesia_leaf2.png') no-repeat;
                z-index: 12;
                right: 0;
                width: 563px;
                height: 305px;
            }
        }
        @include detail(#b9813e);
        .detail {
            position: absolute;
            left: 36.1%;
            bottom: 90px;
            z-index: 15;
        }
    }
}

.favorite {
    width: 100%;
    height: 800px;
    position: relative;
    background: url('../img/fav_prod_bg_new.jpg') no-repeat center center #45434c;
    background-size: auto 100%;
    background-attachment: fixed;
    .favorite_container {
        width: 1280px;
        height: 800px;
        margin: 0 auto;
        position: relative;
        .pick_favorite{
            text-indent: -20000px;
            background: url('../img/fav_prod_txt01.png') no-repeat;
            height: 204px;
            overflow: hidden;
            position: absolute;
            width: 258px;
            left: -60%;
            top: 120px;
            transition: all 2s ease-in-out
        }
        .pick_text {
            text-indent: -20000px;
            overflow: hidden;
            background: url('../img/fav_prod_txt02.png') no-repeat;
            height: 156px;
            width: 362px;
            position: absolute;
            left: -60%;
            top: 370px;
            transition: all 2.4s ease-in-out
        }
        .pick_img {
            height: 458px;
            width: 672px;
            background: url('../img/2022_Summer1_pick_img.png') no-repeat;
            position: absolute;
            top: 100px;
            right: -10px;
        }
        @include detailDiff(white);
        .detail {
            position: absolute;
            top: 570px;
            left: 328px;
            a {
                opacity: 0;
            }
        }
    }
}

.magazine {
    width: 100%;
    height: 400px;
    background: url('../img/reserve_bg_pc.png') no-repeat;
    background-size: auto 353px;
    position: relative;
    z-index: 100;
    .magazine_container {
        position: relative;
        width: 100%;
        height: 400px;
        .magazine_text {
            width: 1100px;
            padding: 135px 0 0 55px;
            height: 232px;
            margin: 0 auto;
        }
        .magazine_img {
            position: absolute;
            top: 0;
            right: 50%;
            margin-right: -483px;
            height: 374px;
            width: 348px;
            opacity: 0;
            transition: opacity 1.5s linear;
        }
        .detail_container {
            width: 1100px;
            margin: 38px auto 0 auto;
            @include detail(black);
            .detail {
                display: block;
                width: 583px;
                padding-left: 235px;
                z-index: 11;
                a {
                    margin: 0 auto;
                }
            }
        }
    }
}

.store {
    width: 100%;
    height: 400px;
    background: url('../img/store_bg.jpg');
    background-size: auto 100%;
    position: relative;
    overflow: hidden;
    .store_container {
        width: 1280px;
        position: absolute;
        left: 50%;
        margin-left: -640px;
        .store_img1 {
            height: 228px;
            width: 228px;
            background: url('../img/store_exp_img01.png') no-repeat;
            position: absolute;
            left: 390px;
            top: 149px;
            z-index: 5;
            opacity: 0;
            transition: all 1.4s ease-in-out;
        }
        .store_img2 {
            background: url('../img/store_exp_img02.png') no-repeat;
            height: 312px;
            width: 366px;
            position: absolute;
            top:0;
            left: 160px;
            z-index: 4;
            opacity: 0;
            transition: all 1.4s ease-in-out;
        }
        .store_img3 {
            background: url('../img/store_exp_img03.png') no-repeat;
            width: 343px;
            height: 142px;
            position: absolute;
            top: -60px;
            left: 520px;
            opacity: 0;
            transition: all 1.4s ease-in-out;
        }
        .store_img4 {
            background: url('../img/store_exp_img04.png') no-repeat;
            width: 230px;
            height: 102px;
            position: absolute;
            top: 298px;
            right: 30px;
            opacity: 0;
            transition: all 1.4s ease-in-out;
        }
        .store_text1 {
            background: url('../img/store_txt01.png') no-repeat;
            text-indent: -20000px;
            overflow: hidden;
            width: 385px;
            height: 54px;
            position: absolute;
            top: 100px;
            right: -43%;
            opacity: 0;
            transition: all 2s ease-in-out;
        }
        .store_text2 {
            text-indent: -20000px;
            overflow: hidden;
            background: url('../img/store_txt02.png') no-repeat;
            width: 366px;
            height: 61px;
            position: absolute;
            top: 168px;
            right: -43%;
            opacity: 0;
            transition: all 2.1s ease-in-out;
        }
        @include detail(black);
        .detail {
            position: absolute;
            opacity: 0;
            right: -43%;
            top: 258px;
            transition: all 2.2s ease-in-out;
        }
    }
}