footer {
    width: 100%;
    padding: 32px 0;
    text-align: center;
    color: white;
    background-color: black;
}

.empty {
    background-color: #F2E1E1;
    color: #F2E1E1;
    padding: 1px 0;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: green;
}